{% if product.available %}
  {% assign variant = product.selected_or_first_available_variant %}

  <form action="/cart/add"
      method="post"
      class="product_form init {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %}"
      id="product-form-{{ product.id }}{{ section.id }}{{ block.id }}"
      data-money-format="{{ shop.money_format }}"
      data-shop-currency="{{ shop.currency }}"
      data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
      data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
      data-product="{{ product | json | escape }}"
      {% if settings.limit_quantity or settings.display_inventory_left %}
        data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
      {% endif %}
      data-product-id="{{ product.id }}">

    {% include 'size-chart-popup' %}

    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id" class="multi_select">
          {% for v in product.variants %}
          <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}" data-description="{{ v.metafields.product_info.description }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and product.variants.size > 1 or product.options.size == 1 and product.options[0] != "Title" %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}" name="id">
          {% for v in product.variants %}
            <option {% if v == variant %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ variant.id }}" />
    {% endif %}

    <div class="product__description-wrap">
      <div class="product__description rte" data-scent-option="The Visionary" style="display:none;">
        Leafy, subtle citrus blended with fresh herbal notes for a clean, crisp scent.
      </div>
      <div class="product__description rte" data-scent-option="The Minimalist" style="display:none;">
        Our basic formula, that’s 100% fragrance- and essential oil-free.
      </div>
      {% comment %}
        {% for variant in product.variants %}
          <div class="product__description rte" data-variant-id="{{ variant.id }}" style="display:nonee;">
            {{ variant.metafields.product_info.description }}
          </div>
        {% endfor %}
      {% endcomment %}
    </div>

    {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch' with option %}
        {% endfor %}
      </div>
    {% endif %}

    {% unless collection_handles contains 'coming-soon' %}
      {% if settings.display_product_quantity %}
        <div class="left">
          <label for="quantity">{{ 'products.product.quantity' | t }}</label>
          <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
        </div>
      {% endif %}

      <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        <meta itemprop="seller" content="{{ shop.name | escape }}" />
        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
        <meta itemprop="itemCondition" content="New" />

        <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
        <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
          <span class="current_price {% if product.available == false %}hidden{% endif %}">
            {% if variant.price > 0 %}
              <span class="money">{{ variant.price | money }}</span>
            {% else %}
              {{ settings.free_price_text }}
            {% endif %}
          </span>
        </span>
        <span class="was_price">
        {% if variant.price < variant.compare_at_price and variant.available %}
          <span class="money">{{ variant.compare_at_price | money }}</span>
        {% endif %}
        </span>
      </p>

      {% comment %}
      CANNOT NEST <form> ELEMENTS.
      {% include 'product-notify-me' %}
      {% endcomment %}
    {% endunless %}

    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ variant.inventory_quantity }} {{ items_left_text }}</em></p>
        {% endif %}
      </div>
    {% endif %}

    <div class="purchase {% if settings.display_product_quantity %}inline_purchase{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="/checkout" />
      {% endif %}

      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
      {% assign subscribe_label = 'Subscribe' %}
      <!--<a class="action_button subscribe" data-label={{ subscribe_label | json }}><span class="text">{{ subscribe_label }}</span></a>-->
    </div>
    <div class="continue_shopping">
      <a {% if product-form %}href="{% if collection.url != blank %}{{ collection.url }}{% else %}/collections/all{% endif %}"{% else %}href="javascript:void(0);" class="close"{% endif %}>{{ 'layout.general.continue_shopping' | t }}</a> {{ 'layout.general.or' | t }} {{ 'layout.general.view_cart_html' | t }}
    </div>
    <script>
    </script>
  </form>
{% endif %}
