<article class="content-section">
  <div class="section-container">
    <div class="content-columns">

      <div class="sixteen columns clearfix collection_nav">
        <h1 class="collection_title">{{ 'customer.activate_account.title' | t }}</h1>
      </div>

      <div class="section clearfix">
        <div class="eight columns offset-by-four">
          <p><em>{{ 'customer.activate_account.subtext' | t }}</em></p>


          {% form 'activate_customer_password' %}
            {{ form.errors | default_errors }}

            <div id="password" class="clearfix large_form">
              <label class="large" for="password">{{ 'customer.activate_account.password' | t }}</label>
              <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
            </div>
            <div id="password_confirm" class="clearfix large_form">
              <label class="large" for="password_confirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
              <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
            </div>
            <p class="action_bottom">
              <input class="btn action_button" type="submit" value="{{ 'customer.activate_account.submit' | t }}" />
              <span class="note">{{ 'customer.activate_account.or' | t }}</span>
              <input type="submit" class="cancel action_button" name="decline" id="customer_decline" value="{{ 'customer.activate_account.cancel' | t }}" />
            </p>
          {% endform %}
        </div>
      </div>

    </div>
  </div>
</article>
