<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.regular_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    <!-- Stylesheets for Mobilia 5.3.2 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

    <!-- Icons -->
    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
    {{ 'custom.js' | asset_url | script_tag }}
    {{ content_for_header }}

    <!-- START Rakuten Marketing Tracking - SPI Global Tag -->
<script type="text/javascript">
    (function (url) {
            /*Tracking Bootstrap
            Set Up DataLayer objects/properties here*/
            if(!window.DataLayer){
                window.DataLayer = {};
            }
            if(!DataLayer.events){
                DataLayer.events = {};
            }
            DataLayer.events.SiteSection = "1";

        var loc, ct = document.createElement("script");
        ct.type = "text/javascript";
        ct.async = true;
        ct.src = url;
        loc = document.getElementsByTagName('script')[0];
        loc.parentNode.insertBefore(ct, loc);
    }(document.location.protocol + "//intljs.rmtag.com/115315.ct.js"));
    /*Do Not Edit Beneath This Line*/
    function getRMParameterByName(ranParam) {
       ranParam = ranParam.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
       var regex = new RegExp("[\\?&]" + ranParam + "=([^&#]*)"),
           results = regex.exec(location.search);
       return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function formatDate(ranDate) {
        var dd = ranDate.getDate()
        if (dd < 10) { dd = '0' + dd; } else { dd = dd.toString(); }
        var mm = ranDate.getMonth() + 1
        if (mm < 10) { mm = '0' + mm; } else { mm = mm.toString(); }
        var yyyy = ranDate.getFullYear()
        if (yyyy < 10) { yyyy = '0' + yyyy; } else { yyyy = yyyy.toString(); }
        var hr = ranDate.getHours()
        if (hr < 10) { hr = '0' + hr; } else { hr = hr.toString(); }
        var mn = ranDate.getMinutes()
        if (mn < 10) { mn = '0' + mn; } else { mn = mn.toString(); }
        return yyyy + mm + dd + "_" + hr + mn;
    }

    var __createRMCookie = function(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/; domain=typeadeodorant.com";
    }

    var ranMID = getRMParameterByName('ranMID');
    var ranSiteID = getRMParameterByName('ranSiteID');
    if (ranMID != '') {
        __createRMCookie("ranMID", ranMID, 30);
    }
    if (ranSiteID != '') {
        __createRMCookie("ranSiteID", ranSiteID, 30);
        var ranLandDateTime = formatDate(new Date());
        __createRMCookie("ranLandDateTime", ranLandDateTime, 30);
    }
</script>
<!-- END Rakuten Marketing Tracking - SPI Global Tag -->
  </head>
  <body class="{% if template contains 'page' %}page {% endif %}{% if template contains 'customers' %}customers {% endif %}{{ template | replace: '.', '-' | handle }}">

    {% section 'header' %}

    <div {% unless template contains "index" or template contains "article" or template contains "banner" or template contains "page.details" %}class="container {{ template | replace: '.', '-' | handle }}-container"{% endunless %}>
        {{ content_for_layout }}
    </div> <!-- end container -->

    {% include 'cart-shipping-calculator' %}
    {% section 'footer' %}

    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
  </body>
</html>
