<div class="footer">
  <div class="container">
    <div class="three columns footer_menu_1">
      {% comment %}<h6>{{ linklists[section.settings.footer_linklist_1].title }}</h6>{% endcomment %}
      <ul class="footer_menu" id="{{ linklists[section.settings.footer_linklist_1].handle }}">
        {% for link in linklists[section.settings.footer_linklist_1].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    <div class="seven columns footer_menu_2">
      {% comment %}<h6>{{ linklists[section.settings.footer_linklist_2].title }}</h6>{% endcomment %}
      <ul class="footer_menu" id="{{ linklists[section.settings.footer_linklist_2].handle }}">
        {% for link in linklists[section.settings.footer_linklist_2].links %}
          <li style="width:220px">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    <div class="three columns newsletter">
      {% if section.settings.footer_newsletter %}
        <h6>{{ 'general.newsletter_form.title' | t }}</h6>
        <p>{{ 'general.newsletter_form.description' | t }}</p>
        {% include 'newsletter' %}
      {% endif %}

      {% if section.settings.footer_content_text != blank %}
        {{ section.settings.footer_content_text }}
      {% endif %}
    </div>

    <div class="three columns social">
      {% if section.settings.footer_social_icons %}
        <h6>{{ 'layout.general.social' | t }}</h6>
        {% include 'social-icons' %}
      {% endif %}
    </div>

    {% if section.settings.footer_content_page != blank %}
      <div class="sixteen columns">
        <hr />      
        <div class="footer_content_page">
          {{ pages[section.settings.footer_content_page].content }}
        </div>
        <hr />
      </div>
    {% endif %}

    <div class="sixteen columns footer_menu_3">
      {% comment %}<h6>{{ linklists[section.settings.footer_linklist_3].title }}</h6>{% endcomment %}
      <ul class="footer_menu" id="{{ linklists[section.settings.footer_linklist_3].handle }}">
        {% for link in linklists[section.settings.footer_linklist_3].links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% for sub_link in link.links %}
            <li>
              <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
            </li>
            {% for sub_sub_link in sub_link.links %}
              <li>
                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

    {% comment %}
    <div class="six columns">
      <p class="credits">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
        {{ section.settings.copyright_text | escape }}
      </p>
    </div>

    <div class="ten columns credits_right">
      <p class="credits">
        {% if section.settings.display_designed_by == true %}
          {{ 'layout.general.designer_credits_html' | t }}
        {% endif %}
        {{ powered_by_link | split: '" ' | join: '?ref=out-of-the-sandbox" ' | split: '">' | join: '?ref=out-of-the-sandbox">' }}
      </p>

      {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
            <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endcomment %}

  </div>
</div> <!-- end footer -->

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist_1",
      "label": "Menu 1",
      "default": "footer",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_2",
      "label": "Menu 2",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "link_list",
      "id": "footer_linklist_3",
      "label": "Menu 3",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "checkbox",
      "id": "footer_social_icons",
      "label": "Show social media icons",
      "default": true
    },
    {
      "type": "richtext",
      "id": "footer_content_text",
      "label": "Text"
    },
    {
      "type": "page",
      "id": "footer_content_page",
      "label": "Content page"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },    
    {
      "type": "checkbox",
      "id": "footer_newsletter",
      "label": "Show footer newsletter form",
      "default": true
    },    
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    }
  ]
}
{% endschema %}


