{% if product.metafields.product_info.hero_url != blank %}
  {% assign hero_bg_url = product.metafields.product_info.hero_url %}
{% else %}
  {% assign hero_bg_url = 'default-hero.jpg' | asset_url %}
{% endif %}

{% comment %}
<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="right">
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}"><span class="prev icon-arrow-left"></span></a>
      {% endif %}
      {% if collection.next_product %}
        <a href="{{ collection.next_product }}"><span class="next icon-arrow-right"></span></a>
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}

{% assign sidebar = false %}
{% assign variant = product.selected_or_first_available_variant %}

<div class="sixteen columns">
  <div class="product-{{ product.id }}">
    <div class="section product_section {% if product.images.size > 1 %}thumbnail_position--{{settings.thumbnail_position}} {% endif %} product_slideshow_animation--{{settings.product_slideshow_animation}}"
         data-thumbnail="{{settings.thumbnail_position}}"
         data-slideshow-animation="{{settings.product_slideshow_animation}}"
         data-slideshow-speed="{{settings.slideshow_speed}}"
         itemscope itemtype="http://schema.org/Product">
      <div class="hero">
        <div class="hero__item hero__item--default"
             style="background-image: url('{{ 'product-deodorant-cream-default.jpg' | asset_img_url: '1600x' }}');"></div>
        {% for v in product.variants %}
          <div
           class="hero__item"
           data-variant-id="{{ v.id }}"
           style="{% if v != variant %}display: none; {% endif %}background-image: url('{{ v.metafields.product_info.hero_url | default: hero_bg_url }}');"></div>
        {% endfor %}
      </div>
      <div class="container">

{% comment %}
   {% if section.settings.product_images_position == 'left' %}
     <div class="{% if sidebar %}six{% else %}eight{% endif %} columns alpha">
       {% include 'product-images' %}
      </div>
   {% endif %}
{% endcomment %}

      {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
      {% endif %}

      {% assign collection_handles = product.collections | map: 'handle' %}
      {% assign variant = product.selected_or_first_available_variant %}

      {% if collection and section.settings.product_breadcrumb %}
        <a class="product_collection" title="{{ collection.title | escape }}" href="{{ collection.url }}">
          {{ collection.title }}
        </a>
      {% endif %}

      <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

      {% if settings.enable_shopify_product_badges %}
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% endif %}

       {% if section.settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
       {% endif %}

      {% if variant.sku != blank and section.settings.display_sku %}
        <p class="sku">
          <span itemprop="sku">{{ variant.sku }}</span>
        </p>
      {% endif %}

      {% unless collection_handles contains 'coming-soon' %}
        {% include 'product-form' with 'product' %}
      {% endunless %}

      {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
        <hr />
      {% endif %}

       <div class="meta">
         {% if section.settings.display_collections %}
           <p>
             <span class="label">{{ 'products.product.collections' | t }}:</span>
             <span>
              {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
          </p>
         {% endif %}

         {% if section.settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">{{ 'products.product.tags' | t }}:</span>
                {% endif %}

                {% unless tag contains 'meta-' %}
                  <span>
                    <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  </span>
                {% endunless %}
              {% endfor %}
            </p>
         {% endif %}

        {% if section.settings.display_type %}
           <p>
             <span class="label">{{ 'products.product.product_types' | t }}:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
           </p>
        {% endif %}

        {% if section.settings.display_vendor %}
           <p>
             <span class="label">{{ 'products.product.vendor' | t }}:</span> <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
           </p>
        {% endif %}
       </div>

       {% include "social-buttons" with "product" %}



    </div><!-- container -->
  </div><!-- product-section -->

{% if product.description contains "<!-- split -->"  %}
  <br class="clear" />
  <div class="section clearfix">
    <div class="description">
      {{ product.description | split: '<!-- split -->' | last }}
    </div>
  </div>
{% endif %}

  <div class="product_detail_section">
    <div class="container">
      <ul class="tabs">
{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
        <li><a href="#shopify-product-reviews">Reviews</a></li>
{% endif %}
        <li><a href="#tab-ingredients">Ingredients</a></li>
        <li><a href="#tab-shipping">Shipping &amp; Free Returns</a></li>
      </ul>
{% if settings.enable_shopify_review_comments and settings.review_position == "bottom" %}
      <div class="tab" id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
{% endif %}
      <div class="tab" id="tab-ingredients">
        {% comment %}<div class="seven columns alpha">{% include 'product-images' %}</div>{% endcomment %}
        <div class="seven columns alpha"><img src="{{ 'cream_smudge.png' | file_img_url: '370x' }}" /></div>
        <div class="eight columns omega">{{ product.metafields.product_info.ingredients }}</div>
      </div>
      <div class="tab" id="tab-shipping">{{ product.metafields.product_info.shipping }}</div>
    </div><!-- container -->
  </div><!-- product_detail_section -->
</div><!-- product-{id} -->

{% if section.settings.display_related_products %}
  {% capture limit %}{{ section.settings.products_per_row | plus: 1 }}{% endcapture %}

  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
      {% if collections[related_collection_handle].all_products_count > 0 %}
        {% assign col = related_collection_handle %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if col and collections[col].all_products_count > 0 %}
    {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        <br class="clear" />
        <h2 class="title">{{ 'products.product.related_items' | t }}</h2>
        <div class="feature_divider"></div>
      </div>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = section.settings.products_per_row %}
      <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
        {% include 'product-loop', sidebar: sidebar %}
      </div>
    {% endif %}
  {% endif %}
{% endif %}

  <div class="blocks">
{% for block in section.blocks %}
    <div {{ block.shopify_attributes }} class="block block_{{ forloop.index }} {{ block.settings.class }}" id="{{ block.settings.class }}-{{ block.id }}" data-block-id="{{ block.id }}">
      {{ block.settings.text }}
    </div>
{% endfor %}
  </div>
</div><!-- sixteen.columns -->

{% schema %}

{
  "name": "Product",
  "class": "product-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show collection link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above 'add to cart'"
        },
        {
          "value": "bottom",
          "label": "Below 'add to cart'"
        }
      ]
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Images position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Related products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "class",
          "label": "CSS Class"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Label",
          "default": "Custom HTML"
        },
        {
          "type": "text",
          "id": "class",
          "label": "CSS Class"
        },
        {
          "type": "html",
          "id": "text",
          "label": "HTML",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}

{% endschema %}
