<section  class="homepage-video darken-video-{{ section.settings.video_dark_overlay }}"
      data-video-id="video-{{section.id}}"
      data-autoplay="{{ section.settings.autoplay }}"
      data-autoloop="{{ section.settings.autoloop }}"
      data-video-text="{{ section.settings.display_text_over_video }}"
      >
  <div class="homepage-video--media"
    data-video-src="{{ section.settings.video.id }}"
    data-aspect-ratio="{{ section.settings.aspect_ratio }}"
    data-provider="{{ section.settings.source }}"
    data-video-mp4="{{ section.settings.mp4 }}"
    data-video-ogv="{{ section.settings.ogv }}" >
    {% if section.settings.image %}
      <img  data-play-video
            src="{{ section.settings.image | img_url: '300x' }}"
            alt="{{ section.settings.title | escape }}"
            class="lazyload lazyload--fade-in homepage-video__image"
            sizes="100vw"
            srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                      {{ section.settings.image | img_url: '1600x' }} 1600w,
                      {{ section.settings.image | img_url: '1200x' }} 1200w,
                      {{ section.settings.image | img_url: '1000x' }} 1000w,
                      {{ section.settings.image | img_url: '800x' }} 800w,
                      {{ section.settings.image | img_url: '600x' }} 600w,
                      {{ section.settings.image | img_url: '400x' }} 400w"
             />
    {% else %}
      <div class="homepage-video__placeholder" data-play-video>
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--video' }}
      </div>
    {% endif %}

    <div class="flex-caption flexslider homepage_slider caption js-caption">
      <div class="container">
        <div class="columns {% if section.settings.text_position == 'left' %} seven offset-by-one {% elsif section.settings.text_position == 'right' %} seven offset-by-eight  {% else %} eight offset-by-four {% endif %} align_{{ section.settings.text_align }} caption-content">
          {% if section.settings.title != blank %}
            <h1 class="headline">
              {{ section.settings.title | escape }}
            </h1>
          {% endif %}
          {% if section.settings.subtext != blank %}
            <div class="subtitle">
              {{ section.settings.subtext }}
            </div>
          {% endif %}
          {% if section.settings.button_label != blank %}
            <a {% if section.settings.link != blank %}href="{{ section.settings.link }}"{% endif %} class="action_button" data-play-video>
              {{ section.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  {% if section.settings.autoplay %}
    .homepage-video__placeholder {
      visibility: hidden;
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "Featured video",
  "class": "video-section",
  "settings": [
      {
      "type": "header",
      "content": "Video"
    },

    {
      "type": "select",
      "id": "source",
      "label": "Video source",
      "options": [
        {
          "value": "youtube",
          "label": "YouTube"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        },
        {
          "value": "html5",
          "label": "HTML5"
        }
      ],
      "default": "youtube"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "16:9",
          "label": "16:9"
        },
        {
          "value": "4:3",
          "label": "4:3"
        }
      ],
      "default": "16:9"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay video",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoloop",
      "label": "Autoloop video",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_dark_overlay",
      "label": "Darken video"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "YouTube or Vimeo video URL",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "text",
      "id": "mp4",
      "label": "HTML5 MP4 File URL"
    },
    {
      "type": "text",
      "id": "ogv",
      "label": "HTML5 OGV File URL (optional)"
    },
    {
      "type": "header",
      "content": "Content"
    },
   {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600 x 900px recommended"
    },
    {
      "type": "checkbox",
      "id": "display_text_over_video",
      "label": "Show text when video is playing",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Subheading",
      "default": "<p></p>"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Play Video"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    }
  ],
  "presets": [{
    "name": "Featured video",
    "category": "Video",
    "settings": {
      "autoplay": true,
      "video": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "source": "youtube"
    }
  }]
}

{% endschema %}