$brandPrimary: #cedc00;
$lightGrey: #828181;
$darkGrey: #55585a;

$font-stack: "Roboto Condensed", sans-serif;

// $text-color: #231f20;
$text-color: #55585a;
$secondary-text-color: #808285;
$bg-color: #d0da29;
// $link-color: #0076bb;
$link-color: #d0da29;
$tab-active-link-color: #cccc33;
$button-color: $text-color;
$product-name-color: $text-color;
$responsive-bg-color: #babf10;
$review-text-color: #808285;


h2, .h2 {
    font-size: 34px;
    line-height: 1.2;
}
p {
    line-height: 1.333;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
    font: 16px $font-stack;
}

/* default style is 1200px 16-columns, we want 1152px */
$container-width: 1152px;
//$column-width: 72px; /* 1152px / 16 */
//$column-padding: 10px;
$column-width: (1/16) * 100%;
$column-margin: 1%;

.container { width: 100%; }
/*.container-fluid { width: 100%; }*/
.container .column,
.container .columns { margin-left: $column-margin; margin-right: $column-margin; }
.container .sixteen.columns { width: 100%; margin-left: 0; margin-right: 0; }

.container .one.column,
.container .one.columns { width: 1 * $column-width - (2 * $column-margin); }
.container .two.columns { width: 2 * $column-width - (2 * $column-margin); }
.container .three.columns { width: 3 * $column-width - (2 * $column-margin); }
.container .four.columns { width: 4 * $column-width - (2 * $column-margin); }
.container .five.columns { width: 5 * $column-width - (2 * $column-margin); }
.container .six.columns { width: 6 * $column-width - (2 * $column-margin); }
.container .seven.columns { width: 7 * $column-width - (2 * $column-margin); }
.container .eight.columns { width: 8 * $column-width - (2 * $column-margin); }
.container .nine.columns { width: 9 * $column-width - (2 * $column-margin); }
.container .ten.columns { width: 10 * $column-width - (2 * $column-margin); }
.container .eleven.columns { width: 11 * $column-width - (2 * $column-margin); }
.container .twelve.columns { width: 12 * $column-width - (2 * $column-margin); }
.container .thirteen.columns { width: 13 * $column-width - (2 * $column-margin); }
.container .fourteen.columns { width: 14 * $column-width - (2 * $column-margin); }
.container .fifteen.columns { width: 15 * $column-width - (2 * $column-margin); }

.container .one-third.column { width: (16/3) * $column-width - (2 * $column-margin); }
.container .two-thirds.column { width: (32/3) * $column-width - (2 * $column-margin); }
.container .one-fifth.column { width: (16/5) * $column-width - (2 * $column-margin); }

div.promo_banner {
    font-size: 17px;
    text-transform: inherit;

    @media only screen and (max-width: 500px) {
        width: 92%;
    }

    .promo_banner-close {
        display: none;
    }
}
.promo_banner-show .promo_banner {
    padding: 8px 0;

    @media only screen and (max-width: 500px) {
        padding: 8px 4%;
    }
}

.header-section {
    padding-bottom: 0;

    .container {
        @media only screen and (max-width: 425px) {
            padding-bottom: 10px;
        }
    }

    .header,
    .nav,
    .fixed_header {
        width: $container-width;
        margin: 0 auto;

        @media only screen and (max-width: $container-width - 1px) {
            width: 92%;
            padding-left: 4%;
            padding-right: 4%;
        }
    }

    .header {
        .content {
            padding: 0;
        }
        .top_menu {
            margin-bottom: 15px;
            padding-top: 0;
        }
        .logo {
            margin: 27px auto 13px auto;
        }
        .nav {
            margin-top: 43px;

            @media only screen and (max-width: 979px) {
                margin-top: 34px;
            }

            ul li,
            ul li a {
                font-size: 16px;
                font-family: $font-stack;
            }
            ul li a.navicon {
                padding: 0;

                @media only screen and (max-width: 767px) {
                    border: none;
                }

                @media only screen and (max-width: 479px) {
                    margin-right: 10px;
                }
            }

            li.cart {
                a {
                    padding: 0;
                    border: none;
                }
                .button_label {
                    display: none;
                }
                .cart_count_0 {
                    color: $secondary-text-color;
                }
            }

            .icon-bag {
                margin-right: 3px;
                padding: 3px;
                background: url("{{ 'bag-icon.png' | asset_url }}") no-repeat 0 0;
                background-size: 100%;
            }
            .icon-bag:before {
                content: "";
            }
        }
    }
    .main.menu > li:first-child { /* Home */
        display: none;
    }
    .header-logo.logo a {
        line-height: 1;

        @media only screen and (max-width: 480px) {
            padding-bottom: 0;
        }
    }


    @media only screen and (max-width: 480px) {
    }

    @media only screen and (max-width: 767px) {
        .header .header-logo {
            width: auto !important;
            margin-top: 5px !important;
            margin-bottom: 5px !important;

            img {
                max-height: 50px;
            }
        }
        .header .nav {
            margin: 20px 0px;

            .nav_buttons {
                display: inline-block;
                top: auto;
            }
        }
    }
    @media only screen and (min-width: 768px) {
    }
}

.footer-section .container {
    width: $container-width;

    @media only screen and (max-width: $container-width - 1px) {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }

    @media only screen and (max-width: 767px) {
        .footer_menu_1,
        .three.columns.newsletter {
            float: left;
            width: 45%;
            margin-right: 5%;
        }
        .footer_menu_2,
        div.social {
            float: left;
            width: 50%;
        }
    }

    @media only screen and (max-width: 639px) {
        .three.columns.newsletter {
            width: 100%;
            margin-right: 0;
        }
    }
}

div.footer {
    margin-top: 0;
    padding: 40px 0 0 0;

    @media only screen and (max-width: 767px) {
        padding-top: 20px;
    }
}
.footer h6 {
    margin-bottom: 10px;
    padding-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
}
.footer_menu {
    margin-top: 12px;
    font-size: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .footer_menu_1 {
        .footer_menu {
            margin-bottom: 0;
        }
    }
    .footer_menu_1 {
        .footer_menu {
            margin-top: 6px;
        }
    }
}

#footer-menu-3 {
    font-size: 15px;
    overflow: hidden;
}
#footer-menu-3 li {
    float: left;
}
#footer-menu-3 li:first-child {
    padding-top: 6px;
}
#footer-menu-3 li::after {
    content: "|";
    padding: 0 6px;
}
#footer-menu-3 li:last-child::after {
    content: none;
    padding: 0;
}
.footer .newsletter {
    font-size: 17px;
}
.footer .newsletter input.contact_email {
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    font-weight: bold;
    color: $text-color;
}
.footer .newsletter input.sign_up {
    width: auto;
    height: auto;
    margin-left: 0;
    padding: 10px;
    font-size: 17px;
    line-height: 1;
    color: #fff !important;
    background-color: #666666 !important;
    border: 2px solid #fff;
}
.footer .social div.twitter {
    margin-bottom: 29px;
    font-size: 17px;
}
.footer .social .social_icons {
    overflow: hidden;
}
.footer .social .social_icons a {
    margin: 0 8px 0 0;
    padding: 0;
    font-size: 25px;
    background-color: inherit;
    border-radius: inherit;
}

.product_section .container,
.product_detail_section .container {
    width: $container-width;
    margin: 0 auto;

    @media only screen and (max-width: $container-width - 1px) {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}
div.product_section {
    position: relative;
    margin: 0;

    .container {
        min-height: 600px;
    }

    @media only screen and (max-width: 768px) {
        .container {
            min-height: 260px;
            margin-top: 510px;
            padding-top: 25px;
            background-color: $responsive-bg-color;
        }
    }

    @media only screen and (max-width: 700px) {
        .container {
            min-height: 300px;
        }
    }

    @media only screen and (max-width: 500px) {
        .container {
            min-height: 330px;
        }
    }

    @media only screen and (max-width: 425px) {
        .container {
            margin-top: 363px;
            padding-bottom: 60px;
        }
    }

    .hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
        border-bottom: 2px solid #e3e3e3;
        z-index: -1000;

        > div {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: cover;
        }

        @media only screen and (max-width: 768px) {
            margin-top: -600px;
        }

        @media only screen and (max-width: 425px) {
            height: 363px;
            margin-top: -363px;
        }
    }

    .description {
        float: left;
        width: 420px;
        margin-top: 66px;

        p,
        ul li {
            font-size: 18px;
        }

        @media only screen and (max-width: 768px) {
            height: 444px;
            margin-top: -510px;
            padding-top: 66px;
        }

        @media only screen and (max-width: 425px) {
            width: 100%;
            height: auto;
            margin-top: 0;
            padding-top: 0;

            h2 {
                position: absolute;
                top: -346px;
                width: 340px;
                font-size: 24px;
            }
        }
    }

    .four.columns.alpha {
        float: right;
        width: 215px;

        @media only screen and (max-width: 768px) {
            position: absolute;
            top: 510px;
            left: 0;
            float: none;
            width: 92%;
            height: 165px;
            padding: 20px 4% 100px 4%;
            background-color: $responsive-bg-color;
        }

        @media only screen and (max-width: 624px) {
            height: 200px;
        }

        @media only screen and (max-width: 500px) {
            height: 430px;
        }
    }

    h1.product_name {
        float: right;
        width: 230px;
        margin-top: 66px;
        font-size: 22px;
        font-weight: bold;
        color: $product-name-color;
        text-transform: uppercase;
        clear: none;

        @media only screen and (max-width: 768px) {
            float: left;
            width: 190px;
            margin-top: 0;
        }

    }

    .four.columns.omega {
        h2 {
            margin-bottom: 0.3em;
        }

        @media only screen and (max-width: 500px) {
            .description {
                * {
                    display: none;
                }

                h2 {
                    display: block;
                }
            }
        }
    }

    ul {
        margin-left: 20px;
        margin-bottom: 15px;
        list-style: disc;
    }
    ul li {
        padding-bottom: 0;
        text-indent: -7px;
        line-height: 1.2;
    }
    .modal p.modal_price, p.modal_price {
        color: $text-color;
        font-size: 18px;
        font-family: $font-stack;
        font-weight: bold;
        clear: both;

        @media only screen and (max-width: 768px) {
            display: block;
            float: right;
            width: 48%;
        }

        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }
}

.product_form {
    float: right;
    width: 230px;
    margin-bottom: 0;
    clear: right;

    .selector-wrapper {
        select {
            margin-bottom: 0;
        }
    }

    .product__description-wrap + .selector-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 768px) {
        float: right;
        width: 70%;

        .select {
            overflow: hidden;
            clear: both;

            .selector-wrapper {
                float: left;
                width: 48%;
                margin-right: 4%;

                &:first-child {
                    float: right;
                    margin-right: 0;
                }
            }
        }

        .purchase {
            float: right;
            width: 48%;
            clear: both;
        }
    }

    @media only screen and (max-width: 700px) {
        width: 100%;
    }

    @media only screen and (max-width: 500px) {
        .select .selector-wrapper {
            float: none;
            width: 100%;
        }
        .purchase {
            float: none;
            width: 100%;
        }
    }

    .select .single-option-selector {
        padding: 5px 32px 5px 0;
        color: $text-color;
        font-size: 18px;
        font-family: $font-stack;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-bottom: 2px solid #88898b;


        background: #fff;
        padding-left: 5px;
        border: 0;
        background-image: url({{ 'select_arrow_invert.svg' | asset_url }}), none;
        background-size: 34px 12px;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    .select label {
        display: none;
    }
    .select .variant-description {
        margin-top: -15px;
        margin-bottom: 18px;
        color: $text-color;
        font-size: 16px;
        line-height: 1.6;
        text-transform: none;
    }
    label[for="quantity"] {
        float: left;
        width: 62px;
        margin-top: 8px;
        font-size: 18px;
        text-transform: uppercase;
    }
    input.quantity {
        width: 50px;
        padding: 7px;
        background-color: transparent;
        font-size: 22px;
        border: 1px solid #6d6f70;
    }
    .purchase {
        margin-left: 0;
    }
}
.add_to_cart, .action_button.subscribe {
    width: auto;
    min-height: inherit;
    margin-top: 0;
    padding: 13px 14px;
}
.action_button.subscribe {
    margin-left: 3px;
    padding: 5.8px 14px;
    color: $button-color;
    background-color: transparent;
    line-height: 1.2;
    border: 2px solid #55585a;
}

.product-template-section {
    .blocks {
        .block {
            .container {
                width: $container-width;

                @media only screen and (max-width: $container-width - 1px) {
                    width: 100%;
                }
            }
        }
        .features-grid {
            img {
                width: 100%;
                max-width: $container-width;
                height: auto;
            }
        }
    }
}

.product_detail_section {
    position: relative;

    .tabs {
        margin-top: -32px;
        margin-bottom: 40px;
        border-bottom: none;

        @media only screen and (max-width: 380px) {
            margin-left: -5px;
            margin-right: -5px;
        }

        li {
            border-top: 2px solid #e3e3e3;
            border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            background-color: #fff;
        }
        li:first-child {
            border-left: 2px solid #e3e3e3;
        }
        li:last-child {
            border-right: 2px solid #e3e3e3;
        }

        li a {
            margin-right: 0;
            padding: 0 16px;
            font-size: 15px;
            color: $button-color;

            @media only screen and (max-width: 480px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        li a.active {
            color: $tab-active-link-color;
            border-bottom: 2px solid #fff;
        }
    }

    .tab {
        min-height: 140px;
        margin-bottom: 50px;

        h3 {
            font-size: 20px;
            text-transform: uppercase;
            border-bottom: 2px solid $text-color;
        }
        .secondary {
            color: $secondary-text-color;
        }

        &#shopify-product-reviews {
            margin: 0 0 15px 0;
        }
        &#tab-ingredients {
            font-size: 18px;

            .alpha {
                margin-right: 6.25%;

                .flexslider {
                    overflow: visible;

                    .slides img {
                        max-width: 370px;

                        @media only screen and (max-width: 959px) and (min-width: 768px) {
                            max-width: 350px;
                        }
                    }
                    .flex-control-nav {
                        position: inherit;
                        bottom: inherit;

                        li a {
                            width: 8px;
                            height: 8px;
                            background-color: #fff;
                            border: 3px solid #c0c64f;
                            border-radius: 50%;
                            opacity: 1;

                            &.flex-active {
                                background-color: #c0c64f;
                            }
                        }
                    }
                    .flex-direction-nav {
                        .flex-prev,
                        .flex-next {
                            width: 30px;
                            height: 30px;
                            opacity: 1;
                            font-size: 20px;
                            line-height: 30px;
                        }
                        .flex-prev {
                            left: -10px;
                        }
                        .flex-next {
                            right: -10px;
                        }

                        @media only screen and (max-width: 479px) {
                            .flex-next,
                            .flex-prev {
                                display: block;
                                width: 50px;
                                height: 50px;
                                font-size: 30px;
                                line-height: 50px;
                            }
                        }
                    }
                }
            }
            .omega {
                float: left;
                width: 433px;
            }

            @media only screen and (max-width: 959px) {
                .alpha {
                    width: 45%;
                    margin-right: 5%;
                }
                .omega {
                    width: 50%;
                }
            }

            @media only screen and (max-width: 479px) {
                .alpha {
                    width: 100%;
                    margin-right: 0;
                }
                .omega {
                    width: 100%;
                }
            }
        }
        &#tab-shipping {
            font-size: 18px;

            .alpha {
                margin-right: 6.25%;
            }
            .omega {
                margin-top: 33px;
            }

            @media only screen and (max-width: 959px) {
                .alpha {
                    width: 45%;
                    margin-right: 5%;
                }
                .omega {
                    width: 50%;
                }
            }

            @media only screen and (max-width: 479px) {
                .alpha {
                    width: 100%;
                    margin-right: 0;
                }
                .omega {
                    width: 100%;
                }
            }
        }
    }
}

/* Shopify Product Reviews */
.spr-container {
    .spr-header {
        .spr-header-title {
            float: left;
            font-size: 40px;
        }
        .spr-summary {
            .spr-summary-starrating,
            .spr-summary-caption {
                display: none;
            }
            .spr-summary-actions {
                float: right;

                .spr-summary-actions-newreview {
                    display: inline-block;
                    padding: 18px;
                    color: #55585a !important;
                    background-color: #d0da29;
                    font-family: $font-stack;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 50%;
                }
            }
        }
    }
    .spr-content {
        .spr-reviews {
            overflow: hidden;

            .spr-review {
                float: left;
                width: 29.8%;
                margin: 0;
                border-top: none;

                &:nth-child(3n + 1) {
                    clear: left;
                }

                &:nth-child(3n + 2) {
                    margin: 0 5.1%;
                }

                @media only screen and (max-width: 700px) {
                    width: 44%;
                }

                @media only screen and (max-width: 480px) {
                    width: 100%;

                    &:nth-child(3n + 2) {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
            .spr-review-header-starratings {
                margin-bottom: 0.8em;
            }
            .spr-review-header-title {
                display: none;
            }
            .spr-review-header-byline {
                display: block;
                margin-bottom: 0.3em;
                color: $text-color;
                font-size: 20px;
                font-family: $font-stack;
                font-weight: bold;
                font-style: normal;
                text-transform: uppercase;
                opacity: 1;
            }
            .spr-review-content-body {
                color: $review-text-color;
                font-size: 17px;
                font-family: $font-stack;
                line-height: 1.4;
            }
            .spr-review-reportreview {
                display: none;
            }
        }
    }
    .spr-form {
        max-width: 600px;
        margin: 0 auto;
        border: none;

        .spr-button-primary {
            display: block;
            float: none;
            max-width: 200px;
            margin: 0 auto !important; /* grr ... */
        }
    }
    .spr-pagination:before {
        display: block;
        content: "";
        clear: both;
    }
}

.cart-container {
    width: $container-width;

    @media only screen and (max-width: $container-width - 1px) {
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}

.flex-caption {
    text-shadow: none;
}
/* page-specific styles */

body.index {
    #shopify-section-1479351462524 { /* slideshow-section */
        .flex-caption {
            text-shadow: none;

            .eight.columns { width: 6 * $column-width - (2 * $column-margin); }

            .headline {
                font-size: 31px;
            }
            .subtitle {
                font-size: 23px;
            }
        }
    }
}

body.product {
    #features-grid-1521471450815 {
        .container { width: 100%; }
        ul { width: 100%; margin: 0 auto; list-style: none; overflow: hidden; }
        ul li { float: left; width: 29%; height: 45vh; padding: 2%; text-align: center; border-top: 2px solid #e3e3e3; }
        @media only screen and (max-width: 480px) {
            ul li { width: 100%; }
        }
        /* @media only screen and (max-width: $container-width - 1px) { } */
        @media only screen and (min-width: 768px) {
            ul li:nth-child(3n+2) { border-left: 2px solid #e3e3e3; border-right: 2px solid #e3e3e3; }
        }
        ul li:nth-child(1) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature1.png"); }
        ul li:nth-child(2) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature2.png"); }
        ul li:nth-child(3) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature3.png"); }
        ul li:nth-child(4) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature4.png"); }
        ul li:nth-child(5) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature5.png"); }
        ul li:nth-child(6) h6 { background-image: url("//cdn.shopify.com/s/files/1/2700/9648/files/product-feature6.png"); }
        h6 { padding-top: 14vw; font-size: 24px; font-weight: normal; background-repeat: no-repeat; background-position-x: 50%; background-position-y: 0; background-size: 12vw; }
        @media only screen and (max-width: 480px) {
            h6 { padding-top: 40vw; background-size: 40vw; }
        }
        p { font-size: 17px; }
    }

    #why-go-natural-1519437480881 {
        padding: 70px 0 50px 0px; font-size: 24px; background-color: #f1f1f1; overflow: hidden;

        .container { max-width: 1152px; width: 92%; margin: 0 auto; padding: 0 4%; }
        @media only screen and (max-width: 480px) {
            .columns { width: 100%; }
        }
        .alpha h3 { font-size: 40px; }
        .alpha p { font-size: 20px; }
        .omega p { line-height: 1.333; }
    }
}

  @mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
      @media (max-width: 480px) {
        @content;
      }
    }

    @else if $breakpoint == "medium" {
      @media (max-width: 767px) {
        @content;
      }
    }

    @else if $breakpoint == "large" {
      @media (min-width: 768px) {
        @content;
      }
    }

    @else if $breakpoint == "iPad8" {
      @media (min-width: 860px) {
        @content;
      }
    }

    @else if $breakpoint == "larger" {
      @media (min-width: 960px) {
        @content;
      }
    }

    @else if $breakpoint == "xlarge" {
      @media (min-width: 1200px) {
        @content;
      }
    }

    @else if $breakpoint == "xxlarge" {
      @media (min-width: 1760px) {
        @content;
      }
    }

    @else if $breakpoint == "ie10+" {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
      }
    }

    @else if $breakpoint == "tablet" {
      @media only screen and (min-width: 768px) and (max-width: 1024px){
        @content;
      }
    }

    @else {
      @media ($breakpoint) {
        @content;
      }
    }
  }

body.page,
body.page-home,
body.page-faq,
body.page-ingredients,
body.customers {

  .content-section {

    &.hero-banner-section {
      background-color: #f4f5f5;

      @include respond-to(large) {
        padding: 120px 0 75px;
      }

      h1 {

        margin: 0 0 .4em;
      }

      h2 {
        font-weight: 700;
        line-height: 1.2;
        margin: 0 0 1.3rem;
        color: #cfdb00;
        text-transform: uppercase;
      }

      .content-columns {

        @include respond-to(large) {
          flex-flow: row-reverse wrap;
          justify-content: space-between;

          .img-wrap {
            width: 38%;
            margin-bottom: 0;
          }

          .text-wrap {
            width: 55%;
            margin-right: 20px;
          }
        }
      }

      .img-wrap {
        margin-bottom: 15px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

      .text-wrap {

        p {
          &:last-child {
            margin-bottom: 0
          }
        }
      }
    }

    .ingredients-table {

      mark {
        text-transform: none;
        font-weight: 700;
      }

      tr {
        border-bottom: 1px solid #e3e3e3;
      }

      th {
        font-weight: 700;
        text-align: left;
        vertical-align: baseline;
        width: 35.6%;
        padding: 25px 0;

        @include respond-to (medium) {
          display: block;
          padding: 20px 0 0;
          width: 100%
        }
      }

      td {
        letter-spacing: .15px;
        padding: 25px 0;

        @include respond-to (medium) {
          display: block;
          padding: 15px 0;
        }
      }

      &:not(.visionary-mode) {

        tr {

          &:first-child {
            border-top: 1px solid #e3e3e3;
          }
        }
      }

      &.visionary-mode {
        tr {

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    .note {
      margin: 1.9em 0 2.1em;

      @include respond-to (medium) {
        margin: 1em 0 0;
      }

      .upper-text {
        text-transform: uppercase;
      }
    }

    &.common-ingredients-section {
      padding-bottom: 25px;

      @include respond-to(large) {
        padding: 100px 0 40px;
      }

      .caption-box {
        position: relative;

        @include respond-to(large) {
          padding-bottom: 40px;

          &:after {
            content: '';
            clear: both;
            display: table;
          }
        }

        .icon-sticky {
          float: right;
          width: 180px;
          padding: 0 10px;
          box-sizing: border-box;
          text-align: center;
          max-width: 25%;

          @include respond-to(medium) {
            float: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 70px;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .headline {
        margin: 0 0 .5em;

        @include respond-to(medium) {
          margin-right: 70px;
        }
      }
    }


    &.product-ingredients-section {
      padding-top: 25px;

      @include respond-to(large) {
        padding-top: 50px;
      }

      tr {

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }


  .section-container{
    max-width: 1182px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }

  .intro-section{
    padding: 50px 0 70px;
    background: #f4f5f5 url('bg-intro.png') right bottom no-repeat;
    background-size: contain;
    // font-size: 21.3px;
    font-size: 18px;
    line-height: 1.39;
    color: #555759;

    @include respond-to(large) {
      background-size: 45% calc(100% - 80px);
    }

    @include respond-to(xxlarge) {
      background-size: auto calc(100% - 80px);
    }

    @include respond-to(larger) {
      padding: 90px 0 130px;
    }

    @include respond-to(xlarge) {
      padding: 130px 0 190px;
      // font-size: 29.3px;
    }

    h1{
      // font-size: 50.6px;
      font-size: 38px;
      line-height: 1;
      font-weight: normal;
      color: #555759;
      margin: 0 0 0.6em;

      // @include respond-to(Xlarge) {
      //   font-size: 65.3px;
      // }
    }

    h2{
      //
      font-size: 28px;
      line-height: 1.2;
      margin: 1.67em 0;
      color: #cfdb00;
      text-transform: uppercase;

      // @include respond-to(Xlarge) {
      //   font-size: 37.3px;
      // }
    }

    p{
      margin: 0 0 1em;
    }

    .text-wrap{

      &:after{
        content: '';
        clear: both;
        display: table;
      }

      @include respond-to(large) {
        width: 650px;
        max-width: 60%;
      }

      @include respond-to(xlarge) {
        width: 870px;
      }

      @include respond-to(xxlarge) {
        width: 1000px;
      }
    }
  }

  .content-section{
    padding: 50px 0;
    // font-size: 21.3px;
    font-size: 18px;
    line-height: 1.39;
    color: #555759;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include respond-to(larger) {
      padding: 80px 0;
    }

    @include respond-to(xlarge) {
      padding: 110px 0;
      // font-size: 29.3px;
    }

    .content-columns{
      @include respond-to(large) {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
      }

      .text-col{
        @include respond-to(large) {
          width: 55%;
        }
      }

      .img-col{
        box-sizing: border-box;
        margin: 0 0 35px;

        img{
          display: block;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          max-width: 80%;
        }

        @include respond-to(large) {
          width: 42%;
          padding: 0 12% 0 0;
          max-width: 100%;
        }

        @include respond-to(larger) {
          margin: 0;
        }
      }
    }

    &.clean-commitment-section{
      background: #eff0f0;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -200px;
        width: 700px;
        max-width: 41%;
        height: 100%;
        background: #fff;
        transform: skewX(-17deg);
        z-index: -1;
      }

      .text-col{
        @include respond-to(large) {
          width: 54%;
        }
      }
    }

    &.info-section{
      background: #f9f9fa;

      &:before{
        @include respond-to(large) {
          content: '';
          position: absolute;
          top: 0;
          width: 950px;
          max-width: 66%;
          height: 100%;
          background: #d2de24;
          background-color: #cddb28;
          background: linear-gradient(to bottom,  #cddb28 0%,#dde452 100%);
          z-index: -1;
          transform: skewX(17deg);
          left: -200px;
        }

        @include respond-to(iPad8) {
          max-width: 59%;
        }

        @include respond-to(xlarge) {
          max-width: 55%;
        }

        @include respond-to(xxlarge) {
          width: 1250px;
        }
      }

      .content-columns{
        @include respond-to(large) {
          justify-content: space-between;
        }
      }

      .text-col{
        @include respond-to(large) {
          width: 51%;

          .content-box {
            max-width: 75%;
          }
        }
      }
    }

    &.founder-section{
      color: #fff;
      background: #555759;

      .content-columns{
        @include respond-to(large) {
          flex-direction: row-reverse;
          justify-content: space-between;
        }

        .text-col{
          @include respond-to(large) {
            width: 51%;
          }
        }

        .img-col{

          img{
            max-width: 100%;
            width: 100%;
          }

          @include respond-to(large) {
            padding: 0 0 0 7%;

            img{
              width: auto;
            }
          }
        }
      }
    }

    &.faq-section{
      .content-columns{
        .heading-col{
          @include respond-to(large) {
            width: 29%;
          }
        }

        .text-col{
          @include respond-to(large) {
            width: 71%;
          }
        }
      }
    }

    h1,
    h2{
      // font-size: 50.6px;
      font-size: 38px;
      line-height: 1.2;
      margin: 0 0 1em;
      color: inherit;

      // @include respond-to(xlarge) {
      //   font-size: 65.3px;
      // }

      @include respond-to(larger) {
        margin: 0 0 1.5em;
      }

      small{
        font-size: 60%;
        line-height: 1.4;
        font-weight: normal;
        display: block;
        margin: 15px 0 0;
      }
    }

    h2 {
      font-size: 28px;
      // font-size: 40px;

      // @include respond-to(xlarge) {
      //   font-size: 50.6px;
      // }
    }

    p{
      line-height: inherit;
      margin: 0 0 1.3em;
    }

    .action_button{
      vertical-align: top;
      width: auto;
      font-size: 18px;
      // font-size: 20px;
      line-height: 1.23;
      padding: 0.7em 1.2em;

      @include respond-to(larger) {
        padding: 0.92em 1em;
      }

      &.white{
        background: #fff;
        color: #666;

        &:hover{
          color: #fff;
          background: #666;
        }
      }

    }

    mark{
      text-transform: uppercase;
      color: #cfdb00;
      padding: 0;
      background: none;
    }

    a{
      color: #cfdb00;
    }

    ul,
    ol{
      line-height: inherit;

      li{
        line-height: inherit;
      }
    }

    .ordered-list{
      list-style: none;
      counter-reset: myCounter;
      padding: 0;
      margin: 0;

      li{
        padding: 0;
        margin: 0 0 55px;

        &:before{
          content: counter(myCounter, decimal-leading-zero);
          counter-increment: myCounter;
          display: block;
          clear: both;
          font-size: 58px;
          line-height: 1.2;
          font-weight: bold;
          color: #cfdb00;
          padding: 0 0 3px;
          border: solid #cfdb00;
          border-width: 0 0 1px;
          margin: 0 0 10px;
        }
      }
    }

    .decor-img{
      display: block;
      clear: both;
      margin: 35px 0 35px auto;
      max-width: 30%;
    }

    .content-block{
      position: relative;
      margin: 0 0 50px;

      &:after{
        content: '';
        clear: both;
        display: table;
      }

      .icon-holder{
        float: right;
        width: 180px;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
        max-width: 17%;

        img{
          max-width: 100%;
          height: auto;
        }

        @include respond-to(medium) {
          width: auto;
          max-width: 80px;
          padding-right: 0;
          max-width: none;

          img{
            max-height: 40px;
          }
        }
      }

      .content-wrap{
        overflow: hidden;

        @include respond-to(medium) {
          overflow: visible;
        }
      }

      h2{
        // font-size: 26.6px;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold;
        color: #cfdb00;
        padding: 0 0 8px;
        border: solid #cfdb00;
        overflow: hidden;
        border-width: 0 0 2px;

        // @include respond-to(xlarge) {
        //   font-size: 37.3px;
        // }
      }
    }
  }

  .sub-nav{
    list-style: none;
    padding: 0;
    margin: 5px 0 35px 0;
    z-index: 10;
    font-size: 0;
    line-height: 0;

    @include respond-to(medium) {
      white-space: nowrap;
      overflow-x: auto;
      max-width: 100%;
    }

    @include respond-to(large) {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: flex-start;
    }

    @include respond-to(larger) {
      margin: 15px -28px 70px 0;
    }

    li{
      display: inline-block;
      vertical-align: top;
      padding: 0;
      margin: 0 14px 12px 0;
      text-align: center;
      font-size: 16px;
      line-height: 1.33;

      @include respond-to(medium) {
        &:last-child{
          margin-right: 0;
        }
      }

      @include respond-to(larger) {
        font-size: 24px;
        margin: 0 28px 28px 0;
      }

      a{
        display: block;
        font-size: 18px;
        padding: 0.5em 1em;
        background: #d0da29;
        color: #555759;
        transition: color 0.3s ease, background 0.3s ease;

        &.anchor-active,
        &:hover{
          background: #555759;
          color: #fff;
        }
      }
    }
  }

  .accordion{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.2;

    @include respond-to(large) {
      font-size: 24px;
    }

    >li{
      display: block;
      overflow: hidden;
      position: relative;
      margin: 0 0 15px;
      padding: 0 0 0 40px;

      @include respond-to(larger) {
        margin: 0 0 30px;
        padding: 0 0 0 87px;
      }

      &.active{
        .opener{
          &:after{
            transform: rotate(90deg);
          }
        }

        .slide{
          display: block;
        }
      }
    }

    .slide{
      position: relative;
      overflow: hidden;
      display: none;
      font-size: 14px;
    }

    .opener{
      cursor: pointer;
      // font-size: 21.3px;
      font-size: 18px;
      line-height: 1.3;
      color: inherit;
      padding: 0 0 0 40px;
      margin: 0 0 15px -40px;

      // @include respond-to(xlarge) {
      //   font-size: 29.3px;
      // }

      @include respond-to(larger) {
        padding: 0 0 0 87px;
        margin: 0 0 15px -87px;
      }

      &:before,
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 13px;
        width: 26px;
        height: 2px;
        background: #555759;
        transition: opacity 0.3s ease, transform 0.3s ease;

        @include respond-to(large) {
          // top: 16px;
          top: 12px;
        }

        @include respond-to(larger) {
          left: 12px;
          // top: 23px;
          top: 12px;
        }
      }

      &:after{
        height: 26px;
        width: 2px;
        left: 12px;
        top: 1px;

        @include respond-to(large) {
          // top: 4px;
          top: 0;
        }

        @include respond-to(larger) {
          left: 24px;
          // top: 11px;
        }
      }
    }
  }

} /* end page specific styles */

body.page-contact {
    @media (min-width: 768px) {
        .content-section .content-columns {
            display: block;
        }
    }

    @media only screen and (max-width: 767px) {
        .six.columns,
        .ten.columns {
            width: 100%;
       }
    }
}

body.customers {
    .container .six.columns {
      width: 430px;

      @media only screen and (max-width: 1199px) and (min-width: 960px) {
          width: 340px;
      }
    }
}

body.page-home {
    .intro-section {
        padding: 25px 0 35px;
    }
    .content-section {
        padding: 25px 0;
    }
}

.action_button {
    background-color: $brandPrimary !important;
    color: $darkGrey !important;

    &:active,
    &:focus,
    &:hover {
        background-color: darken($brandPrimary, 10%) !important;
        color: darken($darkGrey, 10%) !important;
    }

    &.white {
        background: #fff !important;
        color: $darkGrey !important;

        &:active,
        &:focus,
        &:hover {
            background-color: #f2f2f2 !important;
            color: $darkGrey !important;
        }
    }
}

.featured-promotions .feature-section .feature-inner {
    max-width: 335px;
    max-height: 280px;
    margin: 0 auto;
}

.image-with-text-overlay-section {
    .flexslider .slides {
        img.image-with-text-overlay-section__image  {
            display: none;

            @media (min-width: 568px) {
                display: block;
            }
        }

        img.image-with-text-overlay-section__image--mobile  {
            @media (min-width: 568px) {
                display: none;
            }
        }

        .flex-caption {
            padding: 0 15px;
            width: 100%;

            @media (min-width: 768px) {
                width: 92%;
                padding: 0;
                left: 50%;
                -webkit-transform: translateX(-50%)translateY(-50%);
                transform: translateX(-50%)translateY(-50%);
            }

            @media (min-width: 1152px) {
                max-width: 1200px;
            }
        }
    }
}

body.page {
    .section-our-story {
        position: relative;
        padding-top: 0;
        padding-bottom: 50px;
        background: #7d8187;
        overflow: hidden;
        color: #fff;

        @media (min-width: 768px) {
            padding-top: 75px;
            padding-bottom: 75px;
            background-color: #fff;
            background-image: url({{ 'about-hero.jpg' | asset_img_url: '1600x' }});
            background-position: center right;
            background-size: contain;
        }
        @media (min-width: 950px) {
            background-size: 50% auto;
        }

        h1 {
            font-size: 28px;
            font-weight: bold;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: .75em;
            text-transform: uppercase;
            color: #fff;
        }

        h2 {
            margin-bottom: .75em;
        }

        .section-container {
            position: relative;
        }

        .section-our-story__hero {
            img {
                display: block;
                margin: 0 auto 45px;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }

        .text-wrap {
            @media (min-width: 768px) {
                max-width: 50%;
            }
        }

        &:before {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                top: 0;
                width: 950px;
                max-width: 77%;
                height: 100%;
                background-color: #7d8187;
                z-index: -1;
                transform: skewX(-17deg);
                left: -200px;
                z-index: 0;
            }
        }
    }

    .section-about-video {
      display: none;
      padding: 50px 0;

      img,
      video {
          display: block;
          margin: 0 auto;
      }
    }

    .section-our-founder.content-section {
        padding: 50px 0;
        background: #eff0f0;
        color: #53575a;

        @media (min-width: 768px) {
            padding: 75px 0;
        }

        .img-col img {
            width: 100% !important;
        }

        .content-columns {
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
            }
        }
    }

    .section-our-clean-approach.content-section {
        mark {
            color: #555759;
            font-weight: bold;
        }
    }

    .section-clean-commitment.content-section {
        padding: 75px 0;
        background: #7d8187;
        color: #fff;

        h2 {
            color: #53575a;
        }
    }

    .section-about-faq.content-section {
        padding: 75px 0;

        table td {
            padding-right: 15px;
        }
        .content-columns .img-col {
            /*
            @media (max-width: 767px) {
                margin: -15px -15px 30px;
                padding: 15px;
                background-color: #7d8187;
            }
            */
            h2,
            p {
                color: #555759 !important;
                @media (min-width: 768px) {
                    color: #fff !important;
                }
            }
        }
        &:before {
            background: #7d8187;
        }
    }
}

.newsletter_popup {
    .fancybox-skin {
        background-color: #d0da29;
    }

    .fancybox-close {
        color: #fff !important;
    }

    .fancybox-bg-image {
        position: absolute;
        display: block;
        width: 150px;
        height: 150px;
        background-size: 150px;
        background-repeat: no-repeat;
    }

    .fancybox-bg-content {
        display: block;
        position: relative;
        margin-top: 65px;
    }

    p.headline {
        margin-bottom: .25em;
    }

    p {
        width: 350px;
        max-width: 100%;
        margin: 0 auto 30px;
        font-size: 2em;
        font-weight: bold;
        color: #fff;
    }

    .action_button {
        background-color: #fff !important;
        color: #666 !important;

        &:active,
        &:focus,
        &:hover {
            background-color: #eee !important;
            color: #666 !important;
        }
    }

    .newsletter {
        margin-bottom: 0;

        .message {
            margin: 0;
        }
    }
}

.add_to_cart.action_button.disabled {
    background: #ccc !important;
    cursor: not-allowed;
    opacity: .4;
}
