<article class="content-section faq-section">
	<div class="section-container">
		<div class="content-columns">
			<div class="heading-col">
				<h1>FAQs</h1>
			</div>
			<div class="text-col">
				<ul class="sub-nav">
					<li><a href="#using">USING TYPE:A</a></li>
					<li><a href="#how-is-made">HOW IS TYPE:A MADE</a></li>
					<li><a href="#ordering-made">ORDERING TYPE:A</a></li>
				</ul>
				<div class="content-block" id="using">
					<div class="icon-holder">
						<img src="{{ 'leaf-pen.png' | asset_url }}" alt="">
					</div>
					<div class="content-wrap">
						<h2>Using type:A</h2>
						<ul class="accordion">
							<li>
								<h3 class="opener">What are some tips for switching to type:A deodorant?</h3>
								<div class="slide">
									<p>None needed! Switching to an aluminum-free deodorant shouldn't be a lot of work. Just go ahead and start using.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">How does it work, and what exactly is sweat-activated technology?</h3>
								<div class="slide">
									<p>Each and every time you sweat, type:A's odor fighters and wetness absorbers spring into action.</p>
                                                      <P>Here's how it works:</P>
                                                      <P>type:A is a glycerin-based formula. When glycerin comes into contact with moisture (i.e. your sweat) it sucks it up like a sponge. Plus, glycerin helps your skin stay soft and smooth.</P>
                                                      <P>Suspended in type:A's glycerin is a complex of ingredients that prevent odor and protect against wetness including zeolites, silver, zinc, baking soda, arrowroot powder and more.</P>
                                                      <P>These active ingredients are released little by little, each time you sweat, mimicking a time-release effect.</P>
                                                      <P>The formula acts like an invisible shield on your skin, waiting patiently to defeat odor and sweat as it happens.</P>
</p>
								</div>
							</li>
							<li>
								<h3 class="opener">How much should I use?</h3>
								<div class="slide">
									<p>Give the tube a gentle squeeze, enough for 3 small dollops to appear. If in doubt, start with less and you can always apply more!<br /><img style="max-width: 300px;" src="{{ 'faq-how-much-should-i-use.jpg' | asset_img_url: '1000x' }}" /></p>
								</div>
							</li>
							<li>
								<h3 class="opener">Can I reapply?</h3>
								<div class="slide">
									<p>Yep! While type:A's sweat activated technology works best on clean, dry underarms, you can reapply and it'll still do a solid job.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">Why do you say best on clean, dry skin?</h3>
								<div class="slide">
									<p>Ever try applying a sticker to a wet surface? (Hint: It's not easy.)</p>
                                                      <p>Type:A works best when it has direct contact with your skin. Its formula starts working the moment your body releases moisture, which is why it's a good idea to start with a dry surface in the first place. It also helps to be squeaky-clean, so that nothing gets in the way while it works.</p>
                                                      <p>Fun fact: Bacteria is what makes your sweat stink. Otherwise, sweat is odorless.</p>
</p>
								</div>
							</li>
							<li>
								<h3 class="opener">Does it work for men?</h3>
								<div class="slide">
									<p>Yep! Our sweat-activated technology is ultra-powerful and works on guys and gals, young and old. Whether you sweat a little, or a lot. We've got you covered.</p>
								      <p>We've designed our scented version - The Visionary - to be gender-neutral with a scent that's clean and crisp. Word on the street is that both men and women love the smell. </p>
                                                </div>
							</li>
							<li>
								<h3 class="opener">Why does type:A deodorant come in a tube?</h3>
								<div class="slide">
									<p>The type:A deodorant tube isn't a clever gimmick. When we set out to create a smarter deodorant formula, the best way to deliver our sweat-activated technology with a dry, lightweight feel was in a cream. And we felt that a tube was the fastest, easiest, cleanest way to apply a deodorant cream.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">I'm worried that using a tube will be wasteful - I won't be able to get out every last drop.</h3>
								<div class="slide">
									<p>Ever think about that last nub left at the bottom of your standard deodorant or antiperspirant stick? Chances are, you end up having to chuck it or get messy rubbing in bits and pieces with your fingers.</p>
									<p>Using a tube lets you squeeze out every last bit. But we do realize that getting out that very last bit may require a bit of effort. That's why we're already working on a slight modification to the packaging to make it super-easy to get the deodorant cream out, even at the end of the tube. </p>
								</div>
							</li>
							<li>
								<h3 class="opener">Will my body need time to adjust after switching from an antiperspirant to type:A?</h3>
								<div class="slide">
									<p>Bottom line: some people have noticed an extra-sweaty adjustment period once they stopped using antiperspirant-essentially a 'detox' from the effects of years of plugged ducts.</p>
									<p>But don't fret. If you're using type:A, we'll keep you fresh, even through the sweatiest of times. Feedback from type:A fans who've made the switch from an antiperspirant reported that either they didn't have any detox symptoms at all, or they didn't notice (especially when it came to odor) because they felt type:A kept them protected. </p>
									<p><i>If you do go through a detox adjustment period, here's what to expect. When you stop using an antiperspirant, your sweat glands may need time to recalibrate as they learn how to release sweat naturally again. During this time, some people feel like they're either producing more sweat than normal, or their body odor smells different, or stronger. When it does happen, this detox usually lasts a few days, or in some cases, a few weeks.</i></p>
								</div>
							</li>
							<li>
								<h3 class="opener">Will it cause yellowing or white streaks on my clothes?</h3>
								<div class="slide">
									<p>Nope! Those dreaded yellow stains are actually caused by aluminum, a central ingredient in most antiperspirants. type:A deodorant does not contain antiperspirant aluminum salts like aluminum chloride, aluminum chlorohydrate, or aluminum zirconium. And since the formula is sheer, you don't need to worry about those bright, white marks typically left behind by solid deodorant sticks either!</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="content-block" id="how-is-made">
					<div class="icon-holder">
						<img src="{{ 'icon-made.png' | asset_url }}" alt="">
					</div>
					<div class="content-wrap">
						<h2>HOW IS type:A MADE</h2>
						<ul class="accordion">
							<li>
								<h3 class="opener">How is type:A different from 'natural' deodorants?</h3>
								<div class="slide">
									<p>type:A has been developed to be 100% safe, powered by natural active ingredients. But it is not trying to be all-natural. Also, our deodorant comes in a tube. When we set out to create a smarter deodorant formula, the best way to deliver our sweat-activated technology was in a cream form. And we felt that our specific tube was the fastest, easiest, cleanest way to apply a deodorant cream.</p>
									<p>Another way we're different is our patent-pending sweat activated formula. This helps create a time-release effect for the active ingredients, which allows for long-lasting odor and wetness protection.</p>
 									<p>Most importantly, we believe deodorant shouldn't hurt. Other natural deodorants made with baking soda can have a rough, sandpapery texture which can be very irritating on delicate underarm skin. With our sweat-activated technology, ingredients like baking soda are used minimally and suspended in soothing glycerin - they aren't just scraped across your skin when you apply the deodorant.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">What ingredients are in type:A deodorant?</h3>
								<div class="slide">
									<p>type:A is carefully crafted to be 100% non-toxic using only plant-derived or safe synthetic ingredients. <a href="https://typeadeodorant.com/pages/ingredients">Learn more about the function of each ingredient here</a>.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">How is type:A tested for safety?</h3>
								<div class="slide">
									<p>The last step in our Safer Science Protocol is to vet our formulas with the experts. When we were developing type:A deodorant, we knew it did a stellar job of preventing odor and protecting against wetness. But we wanted to be 100% positive that our clean, non-toxic formula was science-approved.</p>
									<p>We worked with a leading industry expert to perform a thorough review of our formula, starting with individual ingredients and how they worked together in the overall composition. The review covered hazard assessment of cancer, endocrine disruption and other health concerns, particle sizes, and route of exposure, from a range of reputable databases, authoritative lists, laws in other countries and global agencies studying ingredient safety.</p>
									<p>The result? type:A is safe and completely non-toxic for your body.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">What's the problem with the antiperspirant or deodorant I'm using now?</h3>
								<div class="slide">
									<p>Our skin is our largest organ and absorbs whatever we slather onto it. Our underarms in particular, are a sensitive area full of nodes, glands, and arteries.</p>
									<p>When it comes to the deodorant and antiperspirant products we use every day, we want to make sure EVERY ingredient is non-toxic. There are enough questions around the safety of the aluminum compounds in antiperspirants that we feel it is best to stay away from them. But other ingredients commonly found in deodorants and antiperspirants worry us too.</p>
									<p>Here's why: regulation of toxic ingredients used in personal care products in the US is practically non-existent. For makers of personal care products, it's at the company's discretion to decide if an ingredient is safe. At type:A, we strive to lead healthy lives and make safer choices wherever possible. That's why we choose each of our ingredients with purpose. Many deodorants and antiperspirants available today contain ingredients that are proven or thought to be harmful to human health. Even worse, some ingredients either don't have any safety data available or have never been tested for toxicity.</p>
									<p>Both Canada and the European Union have banned or restricted hundreds of ingredients from use in personal care products because of specific hazards like cancer, developmental toxicity and hormone disruption. However as US consumers, we have to be extra vigilant to protect our exposure.</p>
							</div>
							</li>
							<li>
								<h3 class="opener">Why might aluminum be bad for you?</h3>
								<div class="slide">
									<P>There's a lot of buzz about the negative effects of aluminum (the active ingredient in antiperspirant) and unfortunately, not a lot of certainty. Here's what we do know:</P>
									<P>In order to be called an antiperspirant in the US, the FDA requires using one of several specific aluminum salt compounds.The most commonly used forms are aluminum chloride, aluminum chlorohydrate, or aluminum zirconium.</P>
									<P>Aluminum works by plugging the sweat ducts under your arms thereby keeping you dry and odor-free.</P>
									<P>Some studies suggest that exposure to aluminum in antiperspirants could lead to an increased risk of Alzheimer's disease or cancer. While it is worth noting that none of these studies have been conclusive in determining a direct 1:1 correlation to disease, further research needs to be done on the cumulative effect of toxin exposure over time and its role in triggering in disease.</P>
									<P>Also the thing is: sweating is good for you. It's how your body expels excess hormones and other toxins. And when you use an antiperspirant, it forces your body to reabsorb what should be emitted as waste. In some breast cancer research, it's been suggested that using antiperspirant disrupts that natural endocrine function, elevating estrogen levels that can contribute to breast cancer in some people.</P>
									<P>The good news is that there are safer ways to prevent body odor and protect against wetness.</P>
								</div>
							</li>
							<li>
								<h3 class="opener">What does 'naturally derived' mean?</h3>
								<div class="slide">
									<p>This means that the ingredient is of a natural origin, and has gone through a synthetic process for it to live in its current form. There are several reasons for using naturally derived ingredients: sometimes natural ingredients aren't shelf-stable enough for cosmetic grade, other times it's to strengthen the potency of the natural ingredient. Whenever possible, we utilize natural ingredients, but first and foremost choose clean formulas for your safety.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">Is your packaging recyclable?</h3>
								<div class="slide">
									<p>Our tubes and caps are fully recyclable. All we ask is that you try to do good by the earth: if there's a decent amount of deodorant left in the tube, squeeze out the contents into the trash, then toss the tube in the recycling bin.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">What is glycerin?</h3>
								<div class="slide">
									<p>It's a natural humectant with therapeutic properties. It can be synthetic or vegetable derived - ours is the latter, derived from organic vegetables. In our deodorant formula, it acts as the carrier for our odor preventing and wetness absorbing ingredients and it is part of what makes our sweat-activated technology tick.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">Are you cruelty-free?</h3>
								<div class="slide">
									<p>Definitely. We never test on animals, ever.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="content-block" id="ordering-made">
					<div class="icon-holder">
						<img src="{{ 'bird-pic.png' | asset_url }}" alt="">
					</div>
					<div class="content-wrap">
						<h2>ORDERING type:A</h2>
						<ul class="accordion">
							<li>
								<h3 class="opener">How much is shipping?</h3>
								<div class="slide">
									<p>When it comes to shipping, we're keeping it simple. For US customers, all orders under $25 will pay a flat fee of $2.95 shipping. And we offer free shipping on all US orders over $25. For Canada and Australia, when you go through the checkout process the fee is calculated based on your exact location.</p>
								</div>
							</li>
							<li>
								<h3 class="opener">What's your return policy?</h3>
								<div class="slide">
									<p>We know we have an amazing deodorant that people love to use. But we also know that it's impossible to please everyone. If type:A isn't for you, for whatever reason, <a href="mailto:info@typeadeodorant.com">email us</a> or call us at 800-478-1904 and we'll make it right.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>