{% comment %}
  The contents of the page.contact.liquid template can be found in /sections/contact-template.liquid
{% endcomment %}

<article class="content-section">
  <div class="section-container">
    <div class="content-columns">
      {% section 'contact-template' %}
    </div>
  </div>
</article>
