{% comment %} Hero-banner area {% endcomment %}
<section class="content-section hero-banner-section">
    <div class="section-container">
        <div class="content-columns">
            <div class="img-wrap">
                <img src="{{ 'pic.png' | asset_url }}" alt="Type:A™ Deodorant" title="Type:A™ Deodorant">
            </div>
            <div class="text-wrap">
                <h1 class="headline">Ingredients 101</h1>
                <h2 class="subtitle">what’s in type:A deodorant</h2>
                <p>Every ingredient in type:A deodorant serves a purpose. To create our patent-pending formula, we tested and re-tested the formula, eliminating any ingredients that weren’t necessary, until we landed on a deodorant that met our high-performance standards and cleared all of our safety hurdles. </p>
                <p>We’re proud to introduce a formula that is <strong>free from traditional preservatives,</strong> and <strong>still passes the industry-standard</strong> preservative efficacy test.</p>
            </div>
        </div>
    </div>
</section>
{% comment %} Table with ingredients {% endcomment %}
<section class="content-section common-ingredients-section">
    <div class="section-container">
        <div class="caption-box">
            <div class="icon-sticky">
                <img src="{{ 'icon-made.png' | asset_url }}" alt="Leafs" title="Leafs">
            </div>
            <h2 class="headline">What’s in type:A deodorant</h2>
            <p>Get to know every ingredient and its purpose.</p>
        </div>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Diisopropyl adipate</th>
                    <td>
                        <mark>What it does:</mark> Smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A synthetic ingredient that feels soft and smooth on the skin.
                    </td>
                </tr>
                <tr>
                    <th>Glycerin</th>
                    <td>
                        <mark>What it does:</mark> Absorbs moisture, Nourishes skin, Solven<br/>
                        <mark>Tell me more:</mark> A real natural powerhouse. Our organic, vegetable-derived glycerin absorbs moisture, moisturizes the skin, and acts as a solvent to suspend several active ingredients that prevent odor and protect against wetness.
                    </td>
                </tr>
                <tr>
                    <th>Beeswax</th>
                    <td>
                        <mark>What it does:</mark> Smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A soft, natural wax used to achieve the ideal texture.
                    </td>
                </tr>
                <tr>
                    <th>Dimethicone</th>
                    <td>
                        <mark>What it does:</mark> Lightweight feel
                        <br/>
                        <mark>Tell me more:</mark> A synthetic ingredient that makes the formula ultra-lightweight and helps it glide easily onto skin.
                    </td>
                </tr>
                <tr>
                    <th>Heptyl undercylenate</th>
                    <td>
                        <mark>What it does:</mark> Smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A synthetic ingredient that feels soft and smooth on the skin.
                    </td>
                </tr>
                <tr>
                    <th>Sodium bicarbonate (baking soda)</th>
                    <td>
                        <mark>What it does:</mark> Odor protection
                        <br/>
                        <mark>Tell me more:</mark> A commonly used natural ingredient known for its ability to neutralize odor. If used in excess, sodium bicarbonate can irritate the skin. However type:A’s sweat-activated technology is designed to release only a little at a time as you sweat, to be effective without irritating.
                    </td>
                </tr>
                <tr>
                    <th>Maranta arundinacea root<br/> (arrowroot) powder</th>
                    <td>
                        <mark>What it does:</mark> Absorbs moisture
                        <br/>
                        <mark>Tell me more:</mark> A well-known, natural starch that effectively absorbs moisture (i.e. your sweat), helping to keep you feeling dry.
                    </td>
                </tr>
                <tr>
                    <th>Sorbitan oleate</th>
                    <td>
                        <mark>What it does:</mark> The “glue”
                        <br/>
                        <mark>Tell me more:</mark> A synthetic ingredient that helps bind the formula together.
                    </td>
                </tr>
                <tr>
                    <th>Zea mays (corn) starch</th>
                    <td>
                        <mark>What it does:</mark> Absorbs moisture
                        <br/>
                        <mark>Tell me more:</mark> A well-known, natural starch that effectively absorbs moisture (i.e. – sweat), helping to keep you feeling dry.
                    </td>
                </tr>
                <tr>
                    <th>Copernica cerifera (caranuba) wax</th>
                    <td>
                        <mark>What it does:</mark> Smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A soft, natural wax used to achieve the ideal texture.
                    </td>
                </tr>
                <tr>
                    <th>Triethyl citrate</th>
                    <td>
                        <mark>What it does:</mark> Odor protection, Lightweight & smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A natural ingredient that prevents odor with its anti-bacterial properties and feels soft and smooth on skin.
                    </td>
                </tr>
                <tr>
                    <th>Glyceryl stearate</th>
                    <td>
                        <mark>What it does:</mark> The “glue”
                        <br/>
                        <mark>Tell me more:</mark> A synthetic ingredient that helps bind the formula together.
                    </td>
                </tr>
                <tr>
                    <th>Cocos nucifera (coconut) oil</th>
                    <td>
                        <mark>What it does:</mark> Odor protection, Smooth texture
                        <br/>
                        <mark>Tell me more:</mark> A natural oil used to achieve an ideal texture, and also helps to prevent odor with its anti-bacterial properties.
                    </td>
                </tr>
                <tr>
                    <th>Zeolite</th>
                    <td>
                        <mark>What it does:</mark> Odor protection, Absorbs moisture
                        <br/>
                        <mark>Tell me more:</mark> A naturally-occurring mineral compound that both helps to prevent odor with its anti-bacterial properties and keeps you feeling dry.
                    </td>
                </tr>
                <tr>
                    <th>Tapioca starch</th>
                    <td>
                        <mark>What it does:</mark> Absorbs moisture
                        <br/>
                        <mark>Tell me more:</mark> A natural starch with a silky, smooth feel that absorbs moisture (i.e. sweat), which helps keep you feeling dry.
                    </td>
                </tr>
                <tr>
                    <th>Bisabolol</th>
                    <td>
                        <mark>What it does:</mark> Skin care ingredient
                        <br/>
                        <mark>Tell me more:</mark> A well-known ingredient that has anti-inflammatory and skin-soothing properties.
                    </td>
                </tr>
                <tr>
                    <th>Water</th>
                    <td>
                        <mark>What it does:</mark> Solvent
                        <br/>
                        <mark>Tell me more:</mark> Pure, distilled water helps the sweat-activated technology to work its magic.
                    </td>
                </tr>
                <tr>
                    <th>Silver chloride</th>
                    <td>
                        <mark>What it does:</mark> Anti-bacterial
                        <br/>
                        <mark>Tell me more:</mark> A natural ingredient that helps prevent odor with its anti-bacterial properties.
                    </td>
                </tr>
                <tr>
                    <th>Titanium dioxide</th>
                    <td>
                        <mark>What it does:</mark> Anti-bacterial support
                        <br/>
                        <mark>Tell me more:</mark> A natural mineral of non-nano particle size that is used here to protect the silver chloride from oxidizing in the formula. Read why non-nano particle is important here.</p>
                    </td>
                </tr>
                <tr>
                    <th>Aloe barbadensis (aloe vera)<br/> leaf extract</th>
                    <td>
                        <mark>What it does:</mark> Skin care ingredient
                        <br/>
                        <mark>Tell me more:</mark> A well-known natural ingredient with skin-soothing properties.
                    </td>
                </tr>
                <tr>
                    <th>Zinc citrate</th>
                    <td>
                        <mark>What it does:</mark> Anti-bacterial
                        <br/>
                        <mark>Tell me more:</mark> A natural ingredient that helps prevent odor with its anti-bacterial properties.
                    </td>
                </tr>
            </thead>
        </table>
        <p class="note">Ingredients only used in <span class="upper-text">THE VISIONARY</span></p>
        <table class="ingredients-table visionary-mode">
            <thead>
                <tr>
                    <th>Caprylic/capric triglycerid</td>
                        <td>
                            <mark>What it does:</mark> Carrier oil for the scent ingredients
                            <br/>
                            <mark>Tell me more:</mark> A natural ingredient partially derived from glycerin. As a carrier oil, it helps blend the other natural scent ingredients used in The Visionary.
                        </td>
                </tr>
                <tr>
                    <th>Citrus nobilis<br/> (mandarin orange) peel</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    <th>Linalool</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    <th>Lavandula angustifolia<br/> (lavender) oil</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    <th>Pelargonium graveolens<br/> (geranium) flower oil</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    <th>Elettaria cardamomum<br/> (cardamom) Seed oil</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    <th>Dimethyl heptenal</th>
                    <td>
                        <mark>What it does:</mark> Scent ingredient
                        <br/>
                        <mark>Tell me more:</mark> This natural ingredient is part of the natural fragrance oil blend that gives The Visionary it’s fresh, crisp scent.
                    </td>
                </tr>
                <tr>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</section>
{% comment %} Table with ingredients for product {% endcomment %}
<section class="content-section product-ingredients-section">
    <div class="section-container">
        <div class="caption-box">
            <h2 class="headline">What’s NOT in type:A deodorant</h2>
        </div>
        <table class="ingredients-table product-ingredients">
            <thead>
                <tr>
                    <th>Aluminum</th>
                    <td>
                        There’s a lot of buzz about the negative effects of aluminum (the active ingredient in antiperspirant) and unfortunately, not a lot of certainty. In order to be called an antiperspirant in the US, the FDA requires using one of several approved aluminum compounds which plug the sweat ducts under your arms, thereby keeping you dry and odor-free. The most commonly used are aluminum chloride, aluminum chlorohydrate, and aluminum zirconium.
                        <br/>
                        <br/> Some studies suggest that exposure to aluminum in antiperspirants could lead to increased risk of Alzheimer’s disease or cancer. In addition, antiperspirants plug sweat ducts, which forces your body to reabsorb hormones and toxins and likely disrupts natural endocrine functions.
                    </td>
                </tr>
                <tr>
                    <th>Parabens</th>
                    <td>
                        A class of preservatives commonly used to prevent the growth of bacteria and mold. Parabens are endocrine (or hormone) disruptors, which may alter important hormone mechanisms in our bodies.
                    </td>
                </tr>
                <tr>
                    <th>Propylene glycol</th>
                    <td>
                        Propylene glycol is commonly found in stick deodorants — giving the stick it’s firm texture. It is often derived from natural gas or petroleum, though it can be vegetable-derived as well. It has been associated with irritant and allergic contact dermatitis, even when used at low levels.
                    </td>
                </tr>
                <tr>
                    <th>“Fragrance”</th>
                    <td>If you see simply “fragrance” on an ingredient label, it’s likely synthetically-made and there’s no way of knowing what it actually contains. Fragrance formulas are protected under federal law as “trade secrets” and do not have to be disclosed by brands. Synthetic fragrances often contain hundreds of stock chemical ingredients, including hormone disruptors and allergens.
                    </td>
                </tr>
                <tr>
                    <th>Phthalates</th>
                    <td>A class of plasticizing chemicals used to make products more pliable, or to make fragrances stick to skin. Phthalates disrupt the endocrine system and may cause birth defects.
                    </td>
                </tr>
                <tr>
                    <th>Polyethylene glycol (PEGs)</th>
                    <td>Listed on ingredient labels as PEG or PPG followed by a specific compound, PEGs are widely used in cosmetics as thickeners, solvents, softeners, and moisture-carriers. Depending on manufacturing processes, PEGs may be contaminated with measurable amounts of ethylene oxide and 1,4-dioxane, which are both carcinogens.
                    </td>
                </tr>
                </tbody>
        </table>
    </div>
</section>