<article class="content-section">
  <div class="section-container">
    <div class="content-columns">
      <div class="sixteen columns clearfix collection_nav">
        <h1 class="collection_title">
          {{ page.title }}
        </h1>
      </div>
      <div class="sixteen columns page">
        {% include 'page-multi-column', content: page.content %}

        <p>
          <a href="#" class="action_button">Action Button</a>
        </p>
        <p>
          <a href="#" class="action_button white">White Button</a>
        </p>

      </div>
    </div>
  </div>
</article>
