<div class="container-fluid">
	<section class="intro-section">
		<div class="section-container">
			<div class="text-wrap">
				<h1><b>type:A</b> for all.</h1>
				<p>When we set out to raise the bar on 'natural' deodorants, we asked ourselves, what does this mean? Paying attention to every detail. Overachieving expectations. And never settling for mediocre product performance. </p>
				<h2>So naturally, we called ourselves type:A. </h2>
				<p>By making safe + high-performance deodorant, type:A is on a mission to help people lead healthier lives without sacrifice, to be a force for good and to help bring #cleanbeauty to the mainstream. </p>
			</div>
		</div>
	</section>
	<article class="content-section founder-section">
		<div class="section-container">
			<div class="content-columns">
				<div class="img-col">
					<img src="{{ 'img-our-founder.jpg' | asset_url }}" alt="image description">
				</div>
				<div class="text-col">
					<h2>Our Founder</h2>
					<p>Our founder–Allison–knows what it takes to make a truly amazing product. Years of marketing beauty products for a living actually required her to try hundreds (if not thousands) of creams, serums, oils, lipsticks, fragrances and more. (What a slog, we know.)</p>
					<p>When she decided to switch to a natural deodorant, she tried dozens of products but each and every one was a disappointment.</p>
					<p>She knew a truly better deodorant with stellar performance and safe ingredients was absolutely possible, it just needed to be created. So she set out to make it happen.</p>
				</div>
			</div>
		</div>
	</article>
	<article class="content-section clean-commitment-section">
		<div class="section-container">
			<div class="content-columns">
				<div class="img-col">
					<h2>Our Clean Commitment</h2>
					<!-- img src="{{ 'img-clean-commitment.png' | asset_url }}" alt="image description" -->
				</div>
				<div class="text-col">
					<p>type:A’s patent-pending formula is carefully crafted to be 100% non-toxic using only plant-derived or safe synthetic ingredients.</p>
					<p>Vetting product safety is our top concern. It’s not enough to be free from a few buzzword ingredients. We set a strict ingredient standard for what we will and won’t use. And then we thoroughly screen and test each ingredient and the entire formula for safety.</p>
					<p>Transparency is everything to us. Check out Ingredients 101 to learn more about the function of each ingredient, our selection process, and which ingredients we feel should never be used in a deodorant.</p>
					<a href="https://typeadeodorant.com/pages/ingredients" class="action_button white">INGREDIENTS 101</a>
				</div>
			</div>
		</div>
	</article>
	<article class="content-section" id="our-clean-approach">
		<div class="section-container">
			<div class="content-columns">
				<div class="img-col">
					<h2>Our Clean Approach <small>Safer Science Protocol</small></h2>
				</div>
				<div class="text-col">
					<p>Somehow a deodorant with high performance and safe, clean ingredients had become an either/or scenario. Call us crazy, but we want it all.</p>
					<p>Our goal is to create the cleanest, most effective products possible. This all starts with our <mark>SAFER SCIENCE PROTOCOL.</mark></p>
					<ol class="ordered-list">
						<li>Develop sophisticated formulas using proven scientific techniques</li>
						<li>Ensure every ingredient works hard and serves a purpose </li>
						<li>Screen each ingredient and the entire formula composition for safety</li>
						<li>Test (only) on humans to make sure the product experience is exceptional</li>
						<li>Check in with the clean beauty community – leading experts, industry executives, retailers, and independent watchdogs like <a href="https://www.ewg.org/" target="_blank">EWG.org</a>.</li>
					</ol>
				</div>
			</div>
		</div>
	</article>
	<article class="content-section info-section" id="shipping-and-free-returns">
		<div class="section-container">
			<div class="content-columns">
				<div class="img-col">
					<h2>FAQs</h2>
					<p>Questions? We’ve got (almost) all the answers.</p>
					<a href="https://typeadeodorant.com/pages/faq" class="action_button white">TELL ME MORE</a>
				</div>
				<div class="text-col">
					<h2>Shipping &amp; Free Returns</h2>
					<div class="content-box">
						<p>We know we have an amazing deodorant that people love to use. But we also know that it’s impossible to please everyone. If type:A isn’t for you, for whatever reason, <a href="mailto:info@typeabrands.com">email us</a> and we’ll make it right.</p>
					</div>
					<img class="decor-img" src="{{ 'cloud.png' | asset_url }}" alt="image description">
				</div>
			</div>
		</div>
	</article>
</div>
