{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
     <meta charset="utf-8">
     <meta http-equiv="cleartype" content="on">
     <meta name="robots" content="index,follow">

     <title>{{ shop.name }}</title>

     {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
     {% endif %}

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.regular_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets for Mobilia 5.3.2 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    <link rel="canonical" href="{{ canonical_url }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body id="password-page-bg">
    <div id="password-container" class="center">
      {% if settings.custom_logo != nil %}
        <div class="password-page-row">
          <div class="password-page-col">
              <img class="password-logo" src="{{ settings.custom_logo | img_url: '720x' }}" alt="{{ shop.name }}" />
          </div>
        </div>
      {% else %}
        <div class="password-page-row">
            <div class="password-page-col">
              <h1 class="logo">{{ shop.name }}</h1>
            </div>
        </div>
      {% endif %}
      <div class="password-page-row">
        <div class="password-page-col">
          <h2 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h2>
        </div>
      </div>
      {% unless shop.password_message == blank %}
      <div class="password-page-row">
        <div class="password-page-col">
          <p class="password-message">{{ shop.password_message }}</p>
          <hr class="hr-small">
        </div>
      </div>
      {% endunless %}
      <div id="open-me">
        <a href="#">• {{ 'general.password_page.login_form_heading' | t }} •</a>
      </div>
      <div class="password-page-row">
        <div class="password-page-col">
          {% include 'newsletter' %}
          <h3 class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</h3>
        </div>
      </div>
      <div class="password-page-row">
        <div class="password-page-col password-social">
            {% include 'social-icons' %}
            <h3 class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</h3>
        </div>
      </div>
      <div class="password-page-row">
        <div class="password-page-col">
          <div class="password-footer">
            <div class="powered">
              &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ 'layout.general.designer_credits_html' | t }}<br>
            </div>
            <div class="shopify">
                {{ 'general.password_page.powered_by_shopify_html' | t}}
              </div>
          </div>
         </div>
      </div>
    </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close fancybox-close"><a href="#"></a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for='password'>{{ 'general.password_page.login_form_password_label' | t }} </label>

      <input type='password' name='password' id='password' autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
      <div class="actions">
        <input class="btn" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
      </div>
    {% endform %}

    <div id="owner">{{ 'general.password_page.admin_link_html' | t }} or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
  </div>
</div>
</div>

<script>
$( document ).ready(function() {
  $( "#open-me" ).click(function() {
      $( ".overlay" ).addClass('overlay-open');
      $("#password").focus();
    });

  $( ".close-me" ).click(function() {
    $( ".overlay" ).removeClass( 'overlay-open' );
  });
});
</script>
</body>

</html>
