{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<div class="container-fluid">
  {% section 'product-template' %}
</div>
